# **THEORY QUESTIONS**

1. What are data structures, and why are they important ?
- data structures are a way of storing data .
- data structures are important to let us store , monipulate and use the data.
- some examples of data structures include lists , strings , tuples ..etc

2. Explain the difference between mutable and immutable data types with examples.

- Mutable data types are the data types which can be modified after they are declares . Example for a mutable data type is Lists. The modification can be done using various methods such as append() , remove() , pop() , del() ...ect


```
lists = [1,2,3,4,5]
lists[1] = 7
print(lists)
# will print [1,7,3,4,5]
```
- Immutable data types are the data types which once declared can not be modified . They throw an error if we try to modify them . This type of data types are used when we want to store some data that shouldnt be changed. Few examples of immutable data types include string and tuples.


```
tups = (1,2,3,4,5)
tups[1] = 25 #this will throw an error
```

3. What are the main differences between lists and tuples in Python?

- The main differences between the lists and tuples in python are as follows :
  - Lists are mutable (they can be modified after they are declared) whereas the tuples are immutable (they can not be modified once they are declared )
  - Lists are declared using the square brackets [] and tuples are declared using the parenthesis ()

4.  Describe how dictionaries store data?
- dictionaries store data in the form of key value pairs.
- there is no concept of index in dictionaries and the values are accessed by using the key.


```
my_dict = {"key1" : "value 1" ,"key2" : "value 2" ,"key3" : "value 3" } #a dictionary

my_dict[key2] #accessing the value 2 using the key2
```

5. Why might you use a set instead of a list in Python?
- When I want one element to be present only one time then I will use set instead of a list .
- To know what all elements are present or to know if an element is present or not sets are helpful .

6. What is a string in Python, and how is it different from a list ?
- a string is a sequence of charectors enclosed within coats ("" or '')
- the difference between string and list is that list can store all types of data within it , infact it should be said that it stores heterogeneous type of data within it like int , float , lists,boolean ..etc
- the other main difference between string and list is that strings are immutable whereas the lists are mutable
- the difference in the way we declare strings and lists is that strings are written a whole thing enclosed within double or single coats , whereas the elements of lists are seperated by commas and enclosed within square brackets.


```
#declaring a string
mystring = "Hare Krishna @ 12345 %$#5 "


#declaring a list
my_list = [ 1,2.5,3+4j,"kee",[1,2,3 ] , True]
```

7. How do tuples ensure data integrity in Python ?

- Since tuples once declared can not be modified and manipulated they ensure data integrity in Python.

8. What is a hash table, and how does it relate to dictionaries in Python ?
- since dictionaries stores the data in the form of key value pairs and when we want to access the values it can be accessed using the keys and not indexes the hash table is used to store the data in the form of containers where the name of the container will be the key and the value stored inside it will be the value ..so using the hash table only the values can be accessed by using the keys.

9. Can lists contain different data types in Python?

- Yes , lists can contain different data types as its capable of storing hetrogeneous data .
- Example :   


```
my_list = [1 , 2.3 , "Krishna " , 3+5j , True]  #this is a valid list containing different data types
```

10. Explain why strings are immutable in Python.
- since strings are usually used to store important data such as usernames or passwords in most of the real life applications its important the the information stored in the string remains unchanged or it should be in a way that no external person should be able to modify or change the information and also any operations made by the code should also not manipulate the information stored in the string ..hence strings are immutable in python.

11. What advantages do dictionaries offer over lists for certain tasks?
- in certain situations where we have to store the data in key value pairs or simple terms if we have to have many features related to a specific element  then using dictionaries would be an advantage than to use a list to store such type of data .
- for example to store the details related to a particular employee and also to store it in such a way that we understand which value corresponsds to what like salary age experiance then storing these details in an interpretable way using lists is not feasable but using dictoniries it can be easily done


```
data = {
    "John": {"Age": 45, "Exp": 20, "Sal": 75000},
    "Alice": {"Age": 35, "Exp": 12, "Sal": 60000},
    "Mike": {"Age": 50, "Exp": 25, "Sal": 85000},
    "Sophia": {"Age": 30, "Exp": 8, "Sal": 55000},
    "David": {"Age": 40, "Exp": 18, "Sal": 70000}
}
```

12.  Describe a scenario where using a tuple would be preferable over a list.

- The scenario where using a tuple would be more prefarable over a list is when we dont want the data to be changed , manipulated or modified once its declared .
- Tuples are preferred over lists when the data integrety is required.

13. How do sets handle duplicate values in Python ?

- Sets do no allow duplicate values.
- sets only allow a singe repetetion of each value.
- Even if we try to add duplicate values into the set , it will only let a single entry of a particular element stay in the set .

```
sett = {1,2,3,4,5,6,6,7,8,1,2,3,2,12,3,45,98}
print(sett)
# the output will be {1,2,3,4,5,6,7,8,12,45,98} (these elements can be printed in any order)
```

14. How does the “in” keyword work differently for lists and dictionaries?
- since list contains values seperated by commas the in keyword goes through all the values and finds if the given value is present in the list or not , if present it will return true else it will return false .


```
my_list = [1,2,3,4,5,6]

print(6 in my_list) #prints True
print(8 in my_list) #prints False
```


- since in dictionary the values are stored as key value pairs if we use the "in" keyword it will search through only the keys and not through the values (this means if the required value is present in the values but not in the keys then the in keyword will return false) , so as to search in the values of the dictionary we need to specify dictionaryname.value() so that the in keyword searches in the values .


```
my_dict = {"a" : 1 , "b" : 2 , "c" :3}

print("b" in my_dict) #prints True
print(2 in my_dict) #prints False
print(2 in my_dict.values()) #prints
```

15. Can you modify the elements of a tuple? Explain why or why not .

- No , we can not modify the elements of a tuple . This is becuase tuple is an immutable data type i.e once declared it can not be modified . It has been designed to be immutable to be used in the cases where the data once declared should not be modified .

- The only way we can try to modify a tuple is by converting it into a list , doing the required modifictaions and then converting it back into a tuple .

16. What is a nested dictionary, and give an example of its use case?
- a nested dictonary is where one or more dictoniereis are present as values in the dictionary .
- it can be used to store multiple details related to a particular key.
- one use case is a dictionary that contains names of the employes as keys and as values as the details of the employee such as experiance salary or age , this way of storing the data will be helpful to obtain the specific data required ..for example if salary of a particular employ is to be accessed it can be easily accessed if the data of the employes is being stored as a nested dictionary.


```
data = {
    "John": {"Age": 45, "Exp": 20, "Sal": 75000},
    "Alice": {"Age": 35, "Exp": 12, "Sal": 60000},
    "Mike": {"Age": 50, "Exp": 25, "Sal": 85000},
    "Sophia": {"Age": 30, "Exp": 8, "Sal": 55000},
    "David": {"Age": 40, "Exp": 18, "Sal": 70000}
}

#to access david's salary
print(data["David"]["Sal"])
```

17. Describe the time complexity of accessing elements in a dictionary ?
- The time complexity of accessing elements in a dictionary is O(1).

18.  In what situations are lists preferred over dictionaries?
- Lists are preffered over dictionaries when we have to store simple data that need not be stored in the form of key value pairs . (ex : names of employes, list of groceries..etc)

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
- dictonaries are considered unordered because they dont have indexes (however from python 3.7 onwards the dictoneries retain the order in which they are inserted).
- Since dictonieries dont have any indexes , the data can be retrieved using the keys corresponding to the values . [it is important to note that dictionaries store data as key value pairs)

20. Explain the difference between a list and a dictionary in terms of data retrieval ?
- The difference between a list and a dictionary in terms of data retrieval is that the data in lists is accessed by using indexes whereas in case of dictonaries the values are accessed using their corresponding key values.

# PRACTICAL QUESTIONS

In [ ]:
# 1. Write a code to create a string with your name and print it.

name = input("Enter your name : ")
print("Hello ! " + name)

Enter your name : Shiva
Hello ! Shiva

In [ ]:
# 2. Write a code to find the length of the string "Hello World.

string = "Hello World"
print(f"The length of the given string is {len(string)}")

The length of the given string is 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?

string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase

string = "hello"
print(string.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string =  "I like apple"
a = string.split(" ")
a[2] = "orange"
new_string = a[0] + " " + a[1] + " " + a[2]
print(new_string)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

listt = [1,2,3,4]
listt.append(10)
print(listt)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

listt = [1,2,3,4,5]
listt.remove(3)
print(listt)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

listt = ["a" , "b" , "c" , "d"]
#lets access and also print for seeing it in output
print(listt[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

listt = [10,20,30,40,50]
revlist = []

for i in range(len(listt)):
  revlist.append(listt[len(listt)-i-1])

print(revlist)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

tuplee = (10,20,30)
print(tuplee)
print(type(tuplee))

(10, 20, 30)
<class 'tuple'>

In [ ]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

tuplee = ('apple', 'banana', 'cherry')
print(tuplee[0])

apple

In [ ]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

tuplee = (1, 2, 3, 2, 4, 2)
print(tuplee.count(2))

3

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tuplee = ('dog', 'cat', 'rabbit')
print(tuplee.index("cat"))

1

In [ ]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuplee = ('apple', 'orange', 'banana')

if "banana" in tuplee:
  print("Yes 'banana' is in the given tuple")
else:
  print("'banana' is not in given tuple")

Yes 'banana' is in the given tuple

In [ ]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

sett = {1,2,3,4,5}
print(sett)
print(type(set))

{1, 2, 3, 4, 5}
<class 'type'>

In [ ]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

sett = {1, 2, 3, 4}
sett.add(6)
print(sett)

{1, 2, 3, 4, 6}

In [ ]:
#all questions from 18 to 24 are the exact repetition of the questions from 11 to 17
# 18 question 11 question same
# 19 question 12 question same
# 20 question 13 question same
# 21 question 14 question same
# 22 question 15 question same
# 23 question 16 question same
# 24 question 17 question same